.zoom-hover-wrapper {
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
  border-radius: 8px;
}

.zoom-hover-wrapper img {
  transition: transform 0.3s ease;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-hover-wrapper:hover img {
  transform: scale(1.5);
}
